<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .flex-center .container .container-box{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .container-box a{
            text-decoration: none;
        }
        .form-box{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="container-box">
            <h1 class="logo"><a href="{% url 'index' %}">普通用户 (登录后)</a></h1>
            <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
            <button class="btn btn-default"><a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a></button>
            <button class="btn btn-default"><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a>
            </button>
            {% csrf_token %}
        <div class="form-box">
            <div>普通用户信息如下：</div>
            <div>用户：{{ user.username }}</div>
            <div>昵称：{{ user.nickname }}</div>
            <div>邮箱：{{ user.email }}</div>
            <div>性别：{{ user.gender }}</div>
            <div>年龄：{{ user.age }}</div>
            <div>工号：{{ user.job_number }}</div>
            <div>薪酬：{{ user.payment }}</div>
            <br>
        </div>
            {% if resume_list %}
                <div>简历信息如下：</div>
                {% for resume in resume_list %}
                    <div>创建时间：{{ resume.create_time }}</div>
                    <div>招聘信息：{{ resume.recruit }}</div>
                    <div>招聘发布人：{{ resume.recruit.author }}</div>
                    <div>简历内容：{{ resume.text }}</div>
                    <br>
                {% endfor %}
            {% else %}
                <div>未编写简历信息</div>
            {% endif %}
        {% if department_list %}
                <div>部门信息信息如下：</div>
                {% for department in department_list %}
                    <div>部门名称：{{ department.name }}</div>
                    <div>部门位置：{{ department.site }}</div>
                    <div>部门人数：{{ department.persons }}</div>
                    <div>部门领导：{{ department.leader }}</div>
                    <div>创建时间：{{ department.created_time }}</div>
                    <br>
                {% endfor %}
            {% else %}
                <div>未编写部门信息</div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>